#data/*
#!data/README.md
#pretrained/*
#!pretrained/README.md
log/*
tmp/*
save_para/*
*.pyc
*.txt
demo/prim_result/*
demo/mesh_result/*
Prim-Agent/log/*
Prim-Agent/tmp/*
Prim-Agent/save_para/*
Prim-Agent/__pycache__
Mesh-Agent/log/*
Mesh-Agent/tmp/*
Mesh-Agent/save_para/*
Mesh-Agent/__pycache__